html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }

}

.dropdown-menu.sidebar {
  width: 100%;
}

.dropdown-menu.sidebar li a {
  margin-left: 0px;
  word-wrap: break-word;
  white-space: normal;
}

.dropdown-menu.sidebar > li:nth-child(odd) > a {
  margin-left: 0px;
  background:#EDEDED;
}

.dropdown-menu.sidebar > li:nth-child(even) > a {
  margin-left: 0px;
  background:#FFFFFF;
}

.sidebar-star a {
  white-space:normal;
  margin-left: 20px;
  padding: 5px 5px !important;
}

.sidebar-star a:hover {
  cursor: pointer;
}

.sidebar-star > li {
  position:relative;
}

.sidebar-star > li > i {
  position:absolute;
  left:3px;
  top:12px;
}

.sidebar-star > li > i:hover {
  cursor: pointer;
}
