html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }

}

.dropdown-menu.sidebar {
  width: 100%;
}

.dropdown-menu.sidebar li a {
  margin-left: 0px;
  word-wrap: break-word;
  white-space: normal;
}

.dropdown-menu.sidebar > li:nth-child(odd) > a {
  margin-left: 0px;
  background:#EDEDED;
}

.dropdown-menu.sidebar > li:nth-child(even) > a {
  margin-left: 0px;
  background:#FFFFFF;
}

.sidebar a {
  white-space:normal;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 5px !important;
}

.sidebar a:hover {
  cursor: pointer;
}

.sidebar > li {
  position:relative;
}

.sidebar > li > .series_star {
  position:absolute;
  left:3px;
  top:12px;
}

.series_pencil:hover {
  cursor: pointer;
}

.series_star:hover {
  cursor: pointer;
}

.sidebar > li > .series_pencil {
  position:absolute;
  right:3px;
  top:12px;
}

.group_name {
  margin-top:5px;
}

.divid_groups {
  background-color:#777777;
  height:1px; margin-top:0px;
  margin-bottom:0px;
}
