input{width:100%;}
textarea{width:100%;}

label { display: inline-block; width: 7em; float: left;}

span {
    display: block;
    overflow: hidden;
    padding-right:1em;
}

.bookContent {
padding-bottom:20px;
}

#bookISBN {
padding-right:10px;
width:13em;
float:left;
}

.bookRight {
padding-right:15px;
width:auto;
overflow:hidden;
}

#bookFront {
padding-right:10px;
width:15%;
float:left;
}

.bookl {
width:45%;
float:left;
}

.bookr {
width:45%;
float:right;
}

#bookDesc {
padding-right:15px;
}

#goodreads {
display:none;
}
