html, body
{
 font-family:Verdana;
 font-size:12px;
 background-color:#ffefde;
}

h1 {font-size:18px;color:#000000;margin-bottom:0px;}
h2 {font-size:16px;color:#000000;}
h3 {font-size:14px;color:#000000;}
p {margin-top:0px;}

a:link, a:visited, a:active, a:hover
{
  text-decoration:none;
  font-weight:bold;
  color:#634142;
  font-size:12px;
}
a:active, a:hover
{
 text-decoration:underline;
}

#title_l {
position: fixed;
left:0px;
top:0px;
height:34px;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid #000000;
margin-bottom:20px;
width:24%;
float:left;
}

#title_r {
position: absolute;
right:0px;
top:0px;
height:34px;
padding-top:5px;
padding-bottom:5px;
border-bottom:1px solid #000000;
margin-bottom:20px;
float:right;
width:76%;
}

#left {
position: fixed;
left:0px;
top:60px;
height:calc(100% - 100px);
width:24%;
float:left;
line-height:auto;
}
#left ul {
height:100%;
overflow:auto;
}
.menutitle
{
font-weight:bold;
border-top:1px dashed #000000;
margin-top:0px;
}

#content {
position: relative;
top: 65px;
width:70%;
float:right;
}

.tree {
display: none;
}

.drop_down {
cursor: pointer;
}
