.dropdown-menu{
    width: 100%;
}

.dropdown-menu li a {
    word-wrap: break-word;
    white-space: normal;
}

.dropdown-menu > li:nth-child(odd) > a {
    background:#EDEDED;
}

.dropdown-menu > li:nth-child(even) > a {
    background:#FFFFFF;
}

.table tbody>tr>td {
    vertical-align: middle;
}

.table tbody>tr>th {
    vertical-align: middle;
}
